body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: #fff;
}

h1 {
  text-align: center;
  padding: 20px;
}

/* GŁÓWNY KONTENER FLEX */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 20px;
}

/* KARTA */
.card {
  width: 250px;
  background: #1e1e1e;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  margin: 0 0 15px 0;
  font-size: 20px;
  color: #4dd0e1;
  text-align: center;
}

.ability-name {
  font-weight: bold;
  margin-top: 10px;
  color: #ffd54f;
  margin-bottom: 10px;
}

.categories {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 8px;
}

.desc {
  font-size: 14px;
  line-height: 1.4;
}

.meta {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.8;
}

.tag {
  display: inline-block;
  background: #333;
  padding: 6px 9px;
  border-radius: 6px;
  font-size: 12px;
}

